[client]
port=33067
user=drupaluser

[mysql]
max_allowed_packet = 128M

[mysqldump]
max_allowed_packet = 128M


[mysqladmin]
user=root
port=33067


[mysqld]
pid-file="C:/Program Files (x86)/DevDesktop/mysql/data/mysql.pid"
log-error="C:/Program Files (x86)/DevDesktop/mysql/data/mysql.err"

# The TCP/IP Port the MySQL Server will listen on
port=33067

#Path to installation directory. All paths are usually resolved relative to this.
basedir="C:/Program Files (x86)/DevDesktop/mysql"

#Path to the database root
datadir="C:/Program Files (x86)/DevDesktop/mysql/data"

#set innodb as default
default-storage-engine=InnoDB

innodb_log_buffer_size=32M
innodb_buffer_pool_size=512M
innodb_log_file_size=32M

innodb_file_per_table=1

#Max open files
open_files_limit=10000

#Max packets
max_allowed_packet = 128M

#The log buffer is written out to the file at each commit. Flushing on the log file takes place once per second 
innodb_flush_log_at_trx_commit=2

#Enable slow query log
long_query_time=1
slow_query_log=1
slow_query_log_file=slow.log
